<section class="flex items-center justify-center w-full h-screen">
  <div class="relative flex items-center justify-center p-4 bg-white rounded-lg shadow-lg form-box shadow-gary-500/50">
    <%= link_to  root_path do %>
      <span class="absolute right-3 top-3"><i class="fa-solid fa-xmark fa-2xl" style="color: #d14d72;"></i></span>  
    <% end %>
    <div class="form-value">
      <span class="flex justify-center mb-6 text-2xl font-bold">會員登入</span>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), date:{ turbo:false }) do |f| %>
        <div class="relative m-2 field">
            <span class="absolute top-2 right-2">
              <i class=" fa-xl fa-regular fa-envelope" style="color: #d14d72;"></i>
            </span>          
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請輸入信箱帳號...", class: "rounded-lg inline-block"%>
          </div>

          <div class="relative w-full m-2 field">
            <%# <%= image_tag "password.png", class: "h-10 w-10 inline-block absolute right-0 z-2"  %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "請輸入密碼...(最少6個字)", class: "rounded-lg text-black" %>
          </div>
          <div class="m-2 field">
            <%= f.submit "確認登入", class: "btn-square btn-pink" %>
          </div>
          <div class="m-2 field">
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "我要註冊", new_registration_path(resource_name),class: "btn-square btn-pink" %>
            <% end %>
          </div>
          <div class="m-2 field">
            <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "忘記密碼?", new_password_path(resource_name), class: "btn-square btn-red" %><br />
            <% end %>
          </div>
        <% end %>
        <div class="m-2 field">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</section>