<!DOCTYPE html>
<html>
  <head>
    <title>黃金萬兩｜草莓大福</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= render 'shared/navbar_top' %>
    </div>
    <main class="container px-5 mt-28">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <div>      
      <%= render 'shared/navbar_bottom' %>
    </div>
  </body>
</html>
